<div class="about-us-container">
    <h2>About Us</h2>
    <span class="about-us-text"><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, repellat iure modi hic praesentium culpa quam quae nisi odio explicabo. Minus inventore aut harum illum odio fugiat iure aspernatur officia.
        </em></span>
        
    <div class="newsletter-container">
        <h2>Newsletters</h2>
        <div class="emailform">
            Enter Your Email Address:<br>
            <form>
                <input type="text"  name="email" placeholder="enter email address"><br><br>
                <button>Subscribe</button>
            </form>
        </div>
    </div>
</div>
