<div class="our-team-container">
    <h1>Meet Our Team</h1>
    <div class="team-320-container">
        <div class="team-member-320px">
            <img src="{{ site.github.url }}/images/person.jpg" alt="team-member1"></img>
        </div>
        <div class="team-member-name">
            <strong>Andrew Smith</strong><br>
            <em>Software Manager</em>
        </div>
        <div class="team-member-320px">
            <img src="{{ site.github.url }}/images/person2.jpg" alt="team-member2"></img>
        </div>
        <div class="team-member-name">
            <strong>Mitcal Miller</strong><br>
            <em>Programmer</em>
        </div>
        <div class="team-member-320px">
            <img src="{{ site.github.url }}/images/person3.jpg" alt="team-member3"></img>
        </div>
        <div class="team-member-name">
            <strong>Nilson Nilli</strong><br>
            <em>Front-End Designer</em>
        </div>
    </div>
    <div class="team-member-810px">
        <table class="team-member-table">
            <tr>
                <td class="team-member">
                    <img src="{{ site.github.url}}/images/person.jpg" alt="">
                </td>
                <td class="team-member-name">
                    <strong>Andrew Smith</strong>
                    <em>Software Manager</em>
                </td>
            </tr>
            <tr>
                <td class="team-member">
                    <img src="{{ site.github.url}}/images/person2.jpg" alt="">
                </td>
                <td class="team-member-name">
                    <strong>Mitcal Miller</strong>
                    <em>Programmer</em>
                </td>
            </tr>
            <tr>
                <td class="team-member">
                    <img src="{{ site.github.url}}/images/person3.jpg" alt="">
                </td>
                <td class="team-member-name">
                    <strong>Nilson Nilli</strong>
                    <em>Front-End Designer</em>
                </td>
            </tr>
        </table>
    </div>
</div>