<div class="nav-container">
    <div class="nav-topbar">
    </div>
    <div class="nav-logo">
        <h2>Nik Design</h2>
        tag line here
    </div>
    <nav class="nav">
        <div class="menu-icon">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="menu-items">
            <a class="menu-link" href="{ site.github.url }}#">Home</a>
            <a class="menu-link" href="{ site.github.url }}#">Services</a>
            <a class="menu-link" href="{ site.github.url }}#">Portfolio</a>
            <a class="menu-link" href="{ site.github.url }}#">About</a>
            <a class="menu-link" href="{ site.github.url }}#">Contact</a>
        </div>
    </nav>
     <div class="nav-bottom-bar">
    </div>
</div>
